* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
}

.headerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    background-color: black;
}

.UofG-logo {
    position: absolute;
    top: 0;
}

.gryphon {
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
    color: red;
    text-align: center;
}

.menu {
    margin: 30px 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.menu ul li a:hover {
    opacity: 1;
}

main {
    padding-bottom: 90px;
}

h2,
h3,
h4,
h5,
h6,
h7 {
    margin: 10px 0;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 2em;
    color: #007BFF;
    line-height: 1.2;
}

h7 {
    font-weight: bold;
    display: inline-block;
}


footer {
    background-color: black;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    background-color: black;
    position: sticky;
    bottom: 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}


.footerBottom {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* mobile devices */
@media (max-width: 700px) {
    .UofG-logo {
        display: none;
    }

    .gryphon {
        display: none;
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

/* Laptop display*/
@media (min-width: 701px) and (max-width: 1920px) {
    h1 {
        font-size: 4em;
    }

    .UofG-logo {
        width: 127px;
        height: 150px;
    }

    .gryphon {
        width: 333px;
        height: 150px;
    }

    main {
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
    }

}

/*Monitor display*/
@media (min-width: 1921px) {
    h1 {
        font-size: 5em;
    }

    main {
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
    }
}