.menuButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    font-size: 24px;
}

.menuButton:hover {
    background-color: #005bab;
}

.menuButton.active {
    left: 250px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    page-break-after: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 20px;
    font-size: 2em;
    text-align: center;
    color: #007BFF;
}

p {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;

}

body {
    background-color: #3b3b3b;
    color: #ffffff;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250;
    width: 250px;
    height: 100%;
    background-color: #007BFF;
    color: white;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#sidebar .sidebar-content {
    padding: 20px;
}

#sidebar a {
    color: white;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #005bab;
}

#sidebar.active {
    left: 0;
}

@media (max-width: 768px) {
    .menuButton {
        padding: 10px 15px;
        font-size: 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        padding: 10px;
    }

    #sidebar {
        width: 100%;
        left: -100%;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar a {
        padding: 15px 0;
    }

    .page {
        padding: 20px;
    }
}