body {
    background-color: #2E2E2E;
    /* Dark grey */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.newbutton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    font-size: 24px;
    transition: background-color 0.3s ease, left 0.3s ease;
}

.newbutton:hover {
    background-color: #005bab;
}

.newbutton.active {
    left: 250px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color: #007BFF;
    line-height: 1.2;
}

p {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 600px;
    /* Restrict paragraph width for readability on desktop */
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #2E2E2E;
    /* Dark grey */
    color: white;
    transition: left 0.5s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar-content {
    padding: 20px;
}

.sidebar a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #005bab;
}

.sidebar.active {
    left: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .newbutton {
        padding: 10px 15px;
        font-size: 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        padding: 10px;
        line-height: 1.4;
        text-align: left;
        /* Align text to the left for better readability */
        max-width: 100%;
        /* Ensure paragraphs use the full width on mobile */
    }

    .sidebar {
        width: 100%;
        left: -100%;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar a {
        padding: 15px 0;
    }

    .page {
        padding: 20px;
    }
}